mixin advantages()
  .advantages
    .container
      ul.advantages__list
        li.advantages__item
          .advantages__icon
            svg(width="36", height="32")
              use(xlink:href="#icon-tick")
          | Большой выбор товаров и&nbsp;услуг от&nbsp;известных брендов
        li.advantages__item
          .advantages__icon
            svg(width="36", height="32")
              use(xlink:href="#icon-tick")
          | В&nbsp;Дивайн Лайт размер скидок у&nbsp;партнеров достигает до 70% и&nbsp;каждый день появляются новые
          | акции и&nbsp;распродажи
        li.advantages__item
          .advantages__icon
            svg(width="36", height="32")
              use(xlink:href="#icon-tick")
          | Окунитесь в&nbsp;мир акций и&nbsp;скидок и&nbsp;платите меньше
