mixin introPartnersItem()
  .intro.intro--partners.intro--partners-item
    .container.container--background.container--content-left
      .intro__image
        +picture("content", "intro2", "jpg", 1200, 272, "Фоновое изображение")
      .intro__content
        .intro__logo
          +svg("svg", "aeg-logo", 146, 32, "Логотип компании")
