mixin introPartners()
  .intro.intro--partners
    .container.container--background
      .intro__image
        +picture("content", "intro", "jpg", 1200, 272, "Фоновое изображение")
      .intro__content
        h1.intro__title Дивайн Лайт рад предложить своим клиентам скидки, акции и&nbsp;распродажи от&nbsp;своих&nbsp;партнёров.
        +btn({text: "Присоединиться", href: "#"}).btn--yellow
