mixin intro()
  .intro
    .container
      .intro__image
        +picture("content", "logo", "png", 1200, 304, "Фоновое изображение")
      .intro__content
        h1.intro__title Освещение для отелей, гостиниц, и домов отдыха
        +btn({text: "Узнать больше", href: "#"}).btn--yellow
