mixin ourPartners()
  section.our-partners
    .container
      +title({text: "Наши партнёры"}).our-partners__title.title--h2
      .our-partners__categories
        +categories
      .our-partners__category-cards.category-cards
        +categoryCards
