.our-partners {
  padding-bottom: 129px;

  font-size: 18px;
  line-height: 22px;

  .container {
    position: relative;
  }

  &__title {
    margin-top: -10px;
    margin-bottom: 22px;
  }

  &__categories {
    margin-bottom: 50px;
  }
}
