mixin slider-controls()
  .slider-controls&attributes(attributes)
    .slider-controls__button.slider-controls__button--prev.swiper-button-prev
    .slider-controls__pagination.swiper-pagination
    .slider-controls__button.slider-controls__button--next.swiper-button-next
